.cover__background {
    display: flex;
    background-image: url(../../../images/cover-trains.jpg);
    margin: 0 auto;
    max-width: 1184px;
    min-height: 740px;
    background-size: cover;
    text-decoration: none;
    background-position: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.cover__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
}

/* Не понял зачем удалять After, если, 
как я понял задумка в том, 
чтобы, при наведени мышкой, слой менял свою прозрачность (согласно макету).
Через Before я создал начальный слой с прозрачностью 0.3, 
через After уже меняю прозрачность на 0.8.
*/

.cover__background:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.8;
    z-index: 1;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}
